* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Book.woff2") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Medium.woff") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Bold.woff") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Black.woff") format("truetype");
  font-weight: 700;
}

$futura: 'Futura';

.futura {
  font-family: 'Futura';
}

.roboto {
  font-family: 'Roboto';
}

html {
  // @apply bg-gradient-to-r;
  // @apply from-indigo-500;
  // @apply via-purple-400;
  // @apply to-indigo-500;
  @apply h-full;
  // @apply p-2;
  // overflow-x: hidden;
}
body {
  @apply bg-white;
  @apply m-0;
  @apply futura;
  @apply min-h-full;
  // @apply rounded-xl;
  overflow-x: hidden;
}


.text-fill-transparent {
  -webkit-text-fill-color: transparent;
}

#burgermenu {
  #middle, #top, #bottom {
    @apply transition;
    @apply duration-500;
    @apply transform;
  }
  
  &.active {
    #middle {
      @apply pointer-events-none;
      @apply opacity-0;
      @apply translate-x-20;
    }
    #top {
      @apply rotate-45;
      @apply translate-y-1;
      @apply translate-x-1;
    }
    #bottom {
      @apply -rotate-45;
      --transform-translate-y: 1.35rem;
      --transform-translate-x: -0.85rem;
    }
  }
}