* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Book.woff2") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Medium.woff") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Bold.woff") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/CircularStd-Black.woff") format("truetype");
  font-weight: 700;
}

$futura: 'Futura';

.futura {
  font-family: 'Futura';
}

.roboto {
  font-family: 'Roboto';
}

html {
  // @apply bg-gradient-to-r;
  // @apply from-indigo-500;
  // @apply via-purple-400;
  // @apply to-indigo-500;
  @apply h-full;
  // @apply p-2;
  // overflow-x: hidden;
}
body {
  @apply bg-white;
  @apply m-0;
  @apply futura;
  @apply min-h-full;
  // @apply rounded-xl;
  overflow-x: hidden;
}


.text-fill-transparent {
  -webkit-text-fill-color: transparent;
}

#burgermenu {
  #middle, #top, #bottom {
    @apply transition;
    @apply duration-500;
    @apply transform;
  }
  
  &.active {
    #middle {
      @apply pointer-events-none;
      @apply opacity-0;
      @apply translate-x-20;
    }
    #top {
      @apply rotate-45;
      @apply translate-y-1;
      @apply translate-x-1;
    }
    #bottom {
      @apply -rotate-45;
      --transform-translate-y: 1.35rem;
      --transform-translate-x: -0.85rem;
    }
  }
}

.work__at {
  @apply relative;
  z-index: 1;
  &::before {
    content: '';
    z-index: -1;
    @apply absolute;
    @apply bg-indigo-500;
    @apply w-full;
    @apply h-full;
    @apply transform;
    @apply translate-y-32;
  }
  .card__custom {
    box-shadow: 0px -4px 18px 5px #0000000d;
    animation: float 4.25s ease-in-out infinite;
    transform: translateY(0);
    &:last-of-type {
      animation-delay: 1.5s;
    }
  }
}

@keyframes float {
	0% {
		box-shadow: 0px -4px 18px 5px #0000000d;
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0px -4px 29px 8px #0000000d;
		transform: translatey(-16px);
	}
	100% {
		box-shadow: 0px -4px 18px 5px #0000000d;
		transform: translatey(0px);
	}
}

